# Describing Data

In [1]:
carsales=pd.read_csv("car sales.csv")

NameError: name 'pd' is not defined

In [2]:
import pandas as pd

In [3]:
carsales=pd.read_csv("car sales.csv")

In [4]:
carsales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [5]:
carsales.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [6]:
carcolumns=carsales.columns

In [7]:
carcolumns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [8]:
carsales.index

RangeIndex(start=0, stop=10, step=1)

In [9]:
carsales.described()

AttributeError: 'DataFrame' object has no attribute 'described'

In [10]:
carsales.describe()

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [11]:
carsales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

In [12]:
carsales.mean()

Odometer (KM)    78601.4
Doors                4.0
dtype: float64

In [13]:
carsales.sum()

Make             ToyotaHondaToyotaBMWNissanToyotaHondaHondaToyo...
Colour               WhiteRedBlueBlackWhiteGreenBlueBlueWhiteWhite
Odometer (KM)                                               786014
Doors                                                           40
Price            $4,000.00$5,000.00$7,000.00$22,000.00$3,500.00...
dtype: object

In [14]:
carsales["Doors"].sum()

40