In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
np.random.seed(0)
sales=np.random.randint(30,size=(5,3))

In [5]:
sales

array([[12, 15, 21],
       [ 0,  3, 27],
       [ 3,  7,  9],
       [19, 21, 18],
       [ 4, 23,  6]])

In [6]:
sdf=pd.DataFrame(sales,index=["Sun","Mon","Tue","Wed","Thu"],columns=["Art books","Science books","Cimic books"])

In [7]:
sdf

     Art books  Science books  Cimic books
Sun         12             15           21
Mon          0              3           27
Tue          3              7            9
Wed         19             21           18
Thu          4             23            6

In [8]:
prices=np.array([10,12,15])

In [9]:
prices

array([10, 12, 15])

In [10]:
pdf=pd.DataFrame(prices.reshape(1,3),index=["Price"],columns=["Art books","Science books","Cimic books"])

In [11]:
pdf

       Art books  Science books  Cimic books
Price         10             12           15

In [12]:
sdf.shape

(5, 3)

In [13]:
pdf.shape

(1, 3)

In [14]:
total=pdf.dot(sdf.T)

In [15]:
total

       Sun  Mon  Tue  Wed  Thu
Price  615  441  249  712  406

In [17]:
sdf["Total"]=total.T

In [18]:
sdf

     Art books  Science books  Cimic books  Total
Sun         12             15           21    615
Mon          0              3           27    441
Tue          3              7            9    249
Wed         19             21           18    712
Thu          4             23            6    406